

@model Identity101.ViewModels.ChangePasswordViewModel 

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
<div>
    <h2>@ViewBag.StatusMessage</h2>
    <form method="post" asp-controller="Account" asp-action="ChangePassword">


        
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword"/>
        <span asp-validation-for="CurrentPassword"></span><br/>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword"/>
        <span asp-validation-for="NewPassword"></span><br/>
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword"/>
        <span asp-validation-for="ConfirmNewPassword"></span><br/>
        <input type="submit" value="Değiştir"/>
    </form>
</div>
</body>
</html>